* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: BBH Bartle;
  color: white;
  margin: 0;
}
.nav {
  width: 100%;
  display: flex;
  align-items: center;
  background: black;
  position: fixed;
}

.navlinks {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: clamp(1rem, 5vw, 4rem);
  padding-right: 10%;
}

.nav a {
  font-size: 1.5vw;
  color: white;
  text-decoration: none;
  text-align: center;
}

.hamburger {
  display: none;
  size: 2em;
  cursor: pointer;
}

#menu {
  display: none;
}
.homeimg {
  max-width: fit-content;
  position: absolute;
  top: 12%;
  z-index: -1;
}

.main1 h1 {
  font-size: 3rem;
  text-align: center;
}
.main1 p {
  font-family: inter, sans-serif;
  text-align: center;
  font-size: 1.3rem;
}

.hometext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 18rem;
}

.df {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 30rem;
  gap: 5%;
}

.df a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25rem;
  height: 7rem;
  text-decoration: none;
  background: black;
  color: white;
  border-radius: 20px;
  font-size: 2rem;
}

.wrap {
  padding: 3px;
  border-radius: 20px;
  background: linear-gradient(45deg, #6b7cff, #ff4fd8);
}

.main2 {
  background-image: url(Mediafolder/features.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 2rem;
}
.listen {
  display: flex;
  flex-direction: row;
  margin-top: 7rem;
  justify-content: center;
  gap: 10%;
}
.listen div {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  text-align: center;
  max-width: 40%;
}

.listen div h1 {
  font-size: 4rem;
}

.listen div p {
  font-family: inter, sans-serif;
  font-size: 1.2em;
}

.chat {
  display: flex;
  flex-direction:row-reverse;
  margin-top: 7rem;
  justify-content: center;
  gap: 10%;
}
.chat div {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  text-align: center;
  max-width: 40%;
}

.chat div h1 {
  font-size: 4rem;
}

.chat div p {
  font-family: inter, sans-serif;
  font-size: 1.2em;
}

.lyriclab {
  display: flex;
  flex-direction: row;
  margin-top: 7rem;
  justify-content: center;
  gap: 10%;
}
.lyriclab div {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  text-align: center;
  max-width: 40%;
}

.lyriclab div h1 {
  font-size: 4rem;
}

.lyriclab div p {
  font-family: inter, sans-serif;
  font-size: 1.2em;
}

.btb {
  display: flex;
  flex-direction:row-reverse;
  margin-top: 7rem;
  justify-content: center;
  gap: 10%;
}
.btb div {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  text-align: center;
  max-width: 40%;
}

.btb div h1 {
  font-size: 4rem;
}

.btb div p {
  font-family: inter, sans-serif;
  font-size: 1.2em;
}

.back {
  display: flex;
  justify-content: center;
  position: relative;
  width: 15rem;
}

.back a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 5rem;
  text-decoration: none;
  background: black;
  color: white;
  border-radius: 20px;
  font-size: 1rem;
  text-align: center;
}

.wrap2 {
  display: flex;
  justify-content: center;
  max-width: 15.4rem;
  padding: 3px;
  border-radius: 20px;
  background: linear-gradient(45deg, #6b7cff, #ff4fd8);
  margin: auto;
}

.main3 {
  padding-top: 2rem;
}

.downtext {
  display: flex;
  justify-content: center;
  margin-top: 15%;
  font-size: 2rem;
}

.iosandroid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 10rem;
  gap: 5%;
}

.iosandroid a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25rem;
  height: 5rem;
  text-decoration: none;
  background: black;
  color: white;
  border-radius: 20px;
  font-size: 1rem;
}

.main4 {
  padding-top: 2rem;
}

.contactform {
  width: 160%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.field {
  position: relative;
  padding: 3px;
  border-radius: 15px;
  background: linear-gradient(45deg, #6b5cff, #ff4fd8);
}

.field input,
.field textarea {
  width: 100%;
  height: 4rem;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 1rem 1.2rem;
  border-radius: 14px;
  font-size: 0.9rem;
}
.field textarea {
  height: 20rem;
}
.field:focus-within {
  box-shadow: 0 0 20px rgba(255, 79, 216, 0.5);
}

.field input::placeholder,
.field textarea::placeholder {
  color:white;
  font-family: BBH Bartle;
}

.contact {
  display: flex;
  flex-direction: row;
  margin-top: 3.6rem;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    right: 2rem;
  }
  .navlinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    padding: 1rem;
  }
  #menu:checked + .hamburger + .navlinks {
    display: flex;
  }
}
